@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    z-index: 9999;
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

.loader-container.hidden {
    opacity: 0;
    pointer-events: none;
}

.loader-text {
    font-size: 5rem;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 5px;
    color: #00ffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    opacity: 0;
    animation: fadeInText 1s ease-in forwards, fadeOutText 1s ease-out forwards 4s;
    animation-delay: 2.5s, 4.5s;
}

@keyframes fadeInText {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOutText {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.waves-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    overflow: hidden;
    transform: scaleY(-1);
}

.rectangle {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background-color: #48a5da;
    z-index: 999;
    animation: rectangleSlide 4s ease-in-out forwards;
    animation-delay: 1s;
}

@keyframes waveSlide {
    0% {
        transform: translateY(220%);
    }
    100% {
        transform: translateY(-100%);
    }
}

@keyframes rectangleSlide {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(220%);
    }
}

.waves-container svg {
    animation: waveSlide 4.5s ease-in-out forwards;
}


/* Media Queries pour tablettes */
@media (max-width: 1024px) {

.loader-text {
    font-size: 3rem;
    letter-spacing: 3px;
}

.waves-container {
    height: 100vh;
}

@keyframes waveSlide {
    0% {
        transform: translateY(700%);
    }
    10% {
        transform: translateY(700%); 
    }
    100% {
        transform: translateY(-300%);
    }
}

.rectangle {
    height: 100vh;
}

@keyframes rectangleSlide {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(200%);
    }
}

}


/* Media Queries pour téléphones */
@media (max-width: 768px) {

@keyframes waveSlide {
    0% {
        transform: translateY(1000%);
    }
    20% {
        transform: translateY(950%); 
    }
    100% {
        transform: translateY(-550%);
    }
}

}